{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="invoice_create">

	<h2> Invoice Detail</h2> 
	<button><a href="{% url 'invoice:invoice_list' %}">Back To Dashboard</a></button>
	<table class="table table-striped">
	  
	    <tbody>

    		<tr>
    			<td>invoice number</td>
		        <td><a href="{% url 'invoice:invoice_detail' invoice.id %}">{{ invoice.invoice_number }}</a></td>
		    </tr>
		    <tr>
		    	<td> Vendor Name </td>
		        <td>{{ invoice.vendor_name }}</td>
		    </tr>
		    <tr>
		    	<td> Attachment </td>
		        <td><a href="{{invoice.attachment.url }}" target="blank">Link</a></td>
		    </tr>
		    <tr>
		    	<td> Items </td>
		        <td>{{ invoice.items }}</td>
		    </tr>
	      
	    </tbody>
	  </table>	

</div>

{% endblock %}