{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="invoice_create">
		
		<form  method="POST" id='invoice-create-form' action="{% url 'invoice:invoice_create' %}" enctype="multipart/form-data">

			{% csrf_token %}
			<div class="row">
			    <div class="col-6">		
			    	<h3>Create Invoice</h3>	  

			  	    {{form.as_p}}
			    </div>	
			    
			<input type="submit" class="fadeIn fourth" value="Submit" id="submit-button-pos"> 
			<div class="col-6 canvas-resize">

			    	<h3>Invoice Attachment Preview</h3>

				    <button id="prev">Previous</button>
				    <button id="next">Next</button>
				    &nbsp; &nbsp;
				    <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
				    <canvas id="the-canvas"></canvas>
			    </div>
			</div>
			
		</form>
	</div>
{% endblock %}