{% extends 'base.html' %}
{% load static %}

{% block content %}

	<div class="container">
	  <h2>Invoices</h2>
	  <button><a href="{% url 'invoice:invoice_create' %}">Create Invoice</a></button>
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>invoice_number</th>
	        <th>vendor_name</th>
	        <th>attachment</th>
	        <th>items</th>
	      </tr>
	    </thead>
	    <tbody>

	    	{% for invoice in invoices %}
	    		<tr>
			        <td>{{ invoice.invoice_number }}</td>
			        <td>{{ invoice.vendor_name }}</td>
			        <td>Attachment</td>
			        <td>{{ invoice.items }}</td>
			    </tr>
	    	{% endfor %}
	      
	    </tbody>
	  </table>
	</div>
{% endblock content %}