{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{% static 'apps/imgs/dummy_profile.png' %}" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form method="POST" action="{% url 'login' %}">

      {% csrf_token %}
      {% for field in form %}
        {{field.label_tag}}:{{field}}
      {% endfor %}
      <!-- <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">-->
      <input type="submit" class="fadeIn fourth" value="Log In"> 
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>

{% endblock content %}