{% load static from staticfiles %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.10.2/Sortable.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.2/js/fileinput.min.js"></script>
        <script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'apps/css/base.css' %}">
        <script src="{% static 'apps/js/custom.js' %}"></script>
    

    </head>
    <body>
        <div class="site-container">

            {% block content %}

            {% endblock %}
        </div>
    </body>
</html>

